
<section id="section-contacteer-ons" style="background-color:rgb(245, 243, 239)">
  <div class="container pt-5 pb-5 mt-5">
    <div class="row">
      <div class="col-md-12">
        <h2>Contacteer ons.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mt-5">
        <form action="https://formeezy.com/api/v1/forms/65d20badf385a10008026770/submissions" method="POST" enctype="multipart/form-data">
            <div class="mb-3 row">
                <div class="col">
                    <label>Voornaam</label>
                    <input type="text" required maxlength="50" class="form-control" id="first_name" name="first_name" placeholder="Voornaam">
                </div>
                <div class="col">
                    <label>Naam</label>
                    <input type="text" required maxlength="50" class="form-control" id="last_name" name="last_name" placeholder="Naam">
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col">
                    <label for="email_addr">Emailadres</label>
                    <input type="email" required maxlength="50" class="form-control" id="email_addr" name="email"
                        placeholder="name@example.com">
                </div>
                <div class="col">
                    <label for="phone_input">Telefoon</label>
                    <input type="tel" required maxlength="50" class="form-control" id="phone_input" name="Phone"
                        placeholder="Telefoon">
                </div>
            </div>
            <div class="mb-3">
                <label for="message">Boodschap</label>
                <textarea class="form-control" id="message" name="message" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-green px-4 btn-lg">Verzenden</button>
        </form>
      </div>
      <div class="col-md-4 mt-5">
        <h4>Adres</h4>
        Bredepleinstraat 59 <br/>
        3190 Boortmeerbeek <br />
        <br />
        Ondernemingsnummer: 744429468
      </div>
  </div>
</div>
</section>