<section id="section-trust" class="trust-section">
  <div class="container pt-5 pb-4">
    <div class="row text-center">
      <div class="col-6 col-md-3 mb-4">
        <div class="trust-item">
          <div class="trust-number">90+</div>
          <div class="trust-label">Jaar ervaring</div>
        </div>
      </div>
      <div class="col-6 col-md-3 mb-4">
        <div class="trust-item">
          <div class="trust-number">1933</div>
          <div class="trust-label">Opgericht</div>
        </div>
      </div>
      <div class="col-6 col-md-3 mb-4">
        <div class="trust-item">
          <div class="trust-number">100%</div>
          <div class="trust-label">Maatwerk</div>
        </div>
      </div>
      <div class="col-6 col-md-3 mb-4">
        <div class="trust-item">
          <div class="trust-number"><i class="fa-solid fa-award"></i></div>
          <div class="trust-label">Familiebedrijf</div>
        </div>
      </div>
    </div>
  </div>
</section>
