
html * {   
    color: #333;
    font-family: "Montserrat"; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    font-size: 1em; 
    line-height: 1.66667;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Judson", serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 4em;
    line-height: 1.2;
}

h2 {
    font-size: 3em;
    line-height: 1.2;
    color: inherit;
}

h3 {
    font-size: 1.4em;
}

.text-white {
    color: $white-color;
}

.fa-white {
    color: $white-color;
  }

.fa-green {
   color: #1F7431;
}
.werk-meta {
    font-size: small;
}
.div-hero {
    background-position: 100% 100%;
    background-size: cover;
    min-height: 500px;
}

.div-hero-text {
	display: flex;
	flex-direction: row;
	align-items: center;
}

h1.hero {
    color: white;
    font-weight: bold;
    font-size: 3em;
}

@media (min-width: 1200px) {
    h1.hero {
        font-size: 4em;
    }
  }

span.sub-hero {
    color: white;
    font-weight: normal;
    font-size: 1.2em;
}

.hero-1 {
    background-image: url(/assets/img/hero-1.webp);
}

.hero-2 {
    background-image: url(/assets/img/hero-2.webp);
}

.hero-3 {
    background-image: url(/assets/img/hero-3.webp);
}

.hero-4 {
    background-image: url(/assets/img/hero-4.webp);
}

.card-title {
    font-size: 1.1em;
}

.watermarked {
    position: relative;
}

.watermarked:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("/assets/img/icon_white.svg");
    background-size: 40px 40px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    opacity: 0.7;
}

div.stretch {
    width: 100%;
    height: 100%;
}
div.home-starting {
    background-position: 100% 100%;
    background-size: cover;
    min-height: 400px;
    background-image: url(/assets/img/home-starting.webp);
}

div.tile {
    margin: auto;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,0.2);
}

div.rounded {
    border-radius: 8px;
}

div.spaced {
    padding: 10px;
}

div.contact-us {
    text-align: right;
    padding-top: 10px;
}

div.contact-us svg {
    margin-right: 6px;
    width: 16px;
    height: 16px;
}

a.contact-box {
    padding-left: 10px;
}

a.link-white {
    color: $white-color;
}

a.link-white:hover, a.link-white:visited {
    color: $white-color;
}


div.margin-block {
    margin: 40px 0;
}

.dienst-sub {
    font-size: 1em;
    font-weight: bold;
}

#section-home-diensten {
    color: white;
    background-color: $green-color;
}

.btn-green {
    background-color: $green-color;
}

.list-diensten ul li {
    padding: 0.5em 0em;
}

.list-diensten ul li a {
    padding-bottom: 0.5em;
    //border-bottom:1px solid black;
}

.list-diensten ul li.last a {
    border-bottom: none;
}

#cookie-notice {padding: 0.5rem 1rem; display: none; text-align: center; position: fixed; bottom: 0; width: calc(100% - 2rem); background: #222; color: white;}
#cookie-notice span {color: white;}
#cookie-notice a {display: inline-block; cursor: pointer; margin-left: 0.5rem;}
@media (max-width: 767px) {
    #cookie-notice span {display: block; padding-top: 3px; margin-bottom: 1rem;}
    #cookie-notice a {position: relative; bottom: 4px;}
}