---
layout: default
image: assets/img/social_schrijnwerkerijtobback.png
---

<section id="sc-hero" class="section-hero div-hero {{page.hero | default: "hero-1"}}">
  <div class="container mt-2">
    <div class="row">
       <div class="col-sm-12">
        <div class="div-hero div-hero-text">
          <div>
            <h1 class="hero">{{page.header}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="sc-artikel">
  <div class="container mt-5">
    <div class="row">
        <div class="col"></div>
        <div class="col-sm-12 col-md-10">
          {{content}}
        </div>
        <div class="col"></div>
    </div>
  </div>
</section> 