---
layout: default
---

<section id="sc-hero" class="section-hero">
  <div class="container mt-5 div-hero">{{page.title}}</div>
</section>
<section id="sc-content">
  <div class="container mt-5">{{content}}</div>
</section>
