---
layout: default
---

<section id="sc-hero" class="section-hero div-hero {{page.hero | default: "hero-1"}}">
  <div class="container mt-2">
    <div class="row">
       <div class="col-sm-12">
        <div class="div-hero div-hero-text">
          <div>
            <h1 class="hero">{{page.title}}</h1>
            <span class="sub-hero">{{page.subtitle}}</span>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{content}}