---
layout: single-page
image: assets/img/social_schrijnwerkerijtobback.png
---

<section class="mb-5">
  <div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-4 mb-5">
            <h2>{{page.title}}</h2>
            <div><i class="fas fa-quote-left fa-2x"></i></div>
            <p>{{content}}</p>
            <div><i class="fas fa-quote-right fa-2x mb-5"></i></div>
            <div><span class="badge badge-pill badge-success"><i class="fa-solid fa-location-dot fa-white"></i> {{page.location}}</span></div>
            {% for cat in page.categories %}
                <div><span class="badge badge-pill badge-info"><i class="fa-solid fa-tag fa-white"></i> {{cat}}</span></div>
            {% endfor %}
        </div>        
        <div class="col-sm-12 col-md-8">
            {% include figure.liquid path=page.img sizes="(min-width: 440px) 156px" alt=page.title %}
        </div>
      </div>
  </div>
</section>


{% include latest_werk.liquid limit_items="4"%}